/*
	 /\
 	/__\   ooh triangle

	personal website????????? personal website.
	by ya girl Mary Karroqe
*/
body {
	text-align: center;
	padding-top: 20%;
	background-color: #000000;
	color: #d3d3d3;
	font-family: 'Work Sans', sans-serif;			
}
.sass {
	font-size: 20px;
}
