/* inspired by https://codepen.io/PositionRelativ/pen/Ichrg !! */
html, body {margin: 0; height: 100%; overflow: hidden}
body{
	margin:0;
	padding:0;
	color: #fff;
	font-family: 'IBM Plex Mono', monospace;
	font-size:400%;
	background-color: #f6f7f8;
}
div{
    padding: 4% 10%;
}
a {
	text-decoration: none;
	color: white;
}
.viewport {
	height: 100%;
	width: 100%;
}
.one {
 	background-color: #fff983;
 	background-image: -webkit-linear-gradient(140deg, #f6f7f8 35%, #ff6f6f 36%);
	min-height: 50px;
}
.two {
	background-color: #fff983;
 	background-image: -webkit-linear-gradient(-45deg, #ff6f6f 35%, #f6f7f8 36%);
	min-height: 175px;
}
.three {
	background-color: #fff983;
 	background-image: -webkit-linear-gradient(180deg, #ff6f6f 35%, #f6f7f8 45%);
	min-height: 200px;
}
.four {
	background-color: #fff983;
 	background-image: -webkit-linear-gradient(10deg, #ff6f6f 35%, #f6f7f8 35%);
	min-height: 200px;
}
