<<<<<<< HEAD
<<<<<<< HEAD
/*	Mary Karroqe */
html, body {
	height: 100%;
}
body {
	text-align: center;
	font-family: 'Work Sans', sans-serif;	
	color: #222222;	
=======
/* inspired by https://codepen.io/PositionRelativ/pen/Ichrg !! */
html, body {margin: 0; height: 100%; overflow: hidden}
body{
	margin:0;
	padding:0;
	color: #fff;
	font-family: 'IBM Plex Mono', monospace;
	font-size:400%;
	background-color: #f6f7f8;
}
div{
    padding: 4% 10%;
}
a {
	text-decoration: none;
	color: white;
>>>>>>> origin/gh-pages
}
.viewport {
	height: 100%;
	width: 100%;
}
<<<<<<< HEAD
.webs {
	color: #FFFFFF;
}
/* hover: D6D5EF; */
.top {
	height: 50%;
	background-color: #A2A1BA;
}
/* hover: FBF9FF; */
.bottom {
	height: 50%;
	background-color: #DBCDC6;
}
.top-head {
	height: 40%;
	background-color: #A2A1BA;
}
.top2 {
	height: 30%;
	background-color: #A2A1BA;
}
.bottom2 {
	height: 30%;
	background-color: #DBCDC6;
}
.nw {
	height: 100%;
	background-color: #3A7CA5;
}
.ne {
	height: 100%;
	background-color: #2B59C3;
}
.sw {
	height: 100%;
	background-color: #253C78;
}
.se {
	height: 100%;
	background-color: #122C34;
}
h2 {
	padding-top: 100px;
	font-size: 50px;
	font-weight: 300;
}
a {
	color: inherit;
}
a:hover {
	color: #FBF9FF;
	text-decoration: none;
}
.btn {
	font-size: 20px;
	border-radius: 10px;
	background-color: #EAF2EF; 
	display:none;
	color: black;
}
.btn:hover {
	background-color: white;
	color: black;
=======
/*
  ya friendly stem gal Mary Karroqe marketing herself wooo
*/

body {
	font-family: "Courier New", Courier, monospace;
}
.linky {
	
}
.linky:hover {
	font-weight: bold;	
	font-style: italic;
}
a {
	text-decoration: none;
>>>>>>> master
}
=======
.one {
 	background-color: #fff983;
 	background-image: -webkit-linear-gradient(140deg, #f6f7f8 35%, #ff6f6f 36%);
	min-height: 50px;
}
.two {
	background-color: #fff983;
 	background-image: -webkit-linear-gradient(-45deg, #ff6f6f 35%, #f6f7f8 36%);
	min-height: 175px;
}
.three {
	background-color: #fff983;
 	background-image: -webkit-linear-gradient(180deg, #ff6f6f 35%, #f6f7f8 45%);
	min-height: 200px;
}
.four {
	background-color: #fff983;
 	background-image: -webkit-linear-gradient(10deg, #ff6f6f 35%, #f6f7f8 35%);
	min-height: 200px;
}
>>>>>>> origin/gh-pages
